<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /phpbatch3/part3/public
    RewriteCond %{REEQUEST_FILENAME} !-d
    RewriteCond %{REEQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>